---
import { type ResearchInfo } from '@/types';
import ArticleCard from './ArticleCard.astro';

interface Props {
  listTitle: string;
  listItems: ResearchInfo[];
}
const {listTitle, listItems} = Astro.props

---

<h2 class='text-3xl font-bold mb-6'>{listTitle}</h2>
<div class='space-y-6'>
  {listItems.map(item => (
    item.hide ? // Hide if requested
    null
    : (
      item.disabled ?
      <div class='flex flex-col sm:flex-row rounded-lg bg-base-200'>
        <ArticleCard item={item} />
      </div>
      :
      <a href={item.link} class='flex flex-col sm:flex-row rounded-lg bg-base-200 transition-brightness duration-150 hover:shadow-lg hover:brightness-90' target="_blank">
        <ArticleCard item={item} />
      </a>
    )
  ))}
</div>
