---
import { Image } from 'astro:assets'
import SocialIcons from '../SocialIcons.astro'
import { coreSettings } from '@/settings'
import { heroBlurb } from '@/data'

// const { name } = coreSettings
// const { profilePicture, paragraphs } = heroBlurb
const { title, subtitle} = Astro.props
---


<div class="flex-col flex md:flex-row items-center gap-12">
  <div class='flex-1 text-center md:text-left'>
    <h1 class='text-4xl font-bold mb-4 mt-2 font-["Open Sans", "Lato", sans-serif]'>
      {title}
    </h1>
    {
      <p class='text-lg mb-6' set:html={subtitle} />
    }
    <div class='flex items-center justify-center md:justify-normal md:ml-[-0.75em]'>
      <!-- <SocialIcons /> -->
    </div>
  </div>
</div>