---
import Layout from '@/layouts/base.astro'
import { coreSettings } from '@/settings'
import {projectsLists } from '@/data'
import PageTitle from '../components/cards/PageTitle.astro'
import PageImage from '../components/cards/PageImage.astro'
import PageParagraph from '../components/cards/PageParagraph.astro'
// import Hero from '@/components/Hero.astro'
// import ArticleList from '@/components/cards/ArticleList.astro'
import ProjectList from '@/components/cards/ProjectList.astro'

// const { name } = coreSettings

export async function getStaticPaths() {
  var projArr = projectsLists.map(projectsList => (projectsList.items
    )).flat()
  var filterProjArr = projArr.filter(Boolean)
  var pageInfoArray = filterProjArr.map(projInfo => projInfo.pageInfo)
  var filterPageInfoArray = pageInfoArray.filter(Boolean)
  // console.log(filterPageInfoArray)
  return filterPageInfoArray.map((pageInfo) => ({params: {project: pageInfo!.name}, props:pageInfo}))
}

const {name, title, subtitle, blurb} = Astro.props;

---

<Layout>
  <section class='border-b pb-12'>
    <PageTitle title={title} subtitle={subtitle}/>
  </section>
<h2 class='text-3xl font-bold mb-6'></h2>
  <div class='space-y-6'>
  {blurb.map(blurbItem => (
    typeof(blurbItem) == "object" ?
      <div class='flex flex-col sm:flex-row rounded-lg justify-center'>
        <PageImage item={blurbItem} />
      </div>
    :(
      typeof(blurbItem) == "string" ?
      <div class='flex flex-col sm:flex-row rounded-lg bg-base-200'>
        <PageParagraph item={blurbItem} />
      </div>
    : null
    )
  ))}
</div>
</Layout>
