---
import {coreSettings} from  '@/settings'
---


<a href={new URL(coreSettings.basepath, Astro.site)} class="rounded-xl p-2 hover:bg-primary/20 fill-base-content">
<i class="bi bi-house w-8 h-8 text-[2rem]/[0] swap-off"></i>
</a>

  