---
import {coreSettings} from  '@/settings'
---

<button class="swap swap-rotate rounded-xl p-2 hover:bg-primary/20 fill-base-content dark:swap-active" data-toggle-theme={coreSettings.lightModeTheme + ',' + coreSettings.darkModeTheme}>
  <!-- Sun -->
  <i class="bi bi-sun w-8 h-8 text-[2rem]/[0] swap-off"></i>
  <!-- Moon -->
  <i class="bi bi-moon w-8 h-8 text-[2rem]/[0] swap-on" style="scale: 0.8; transform-origin: center"></i>
</button>
